# Advanced pandas

## Categorical data

In [6]:
import pandas as pd
import numpy as np

In [7]:
values = pd.Series(["apple", "orange", "banana"] * 3)
values

0     apple
1    orange
2    banana
3     apple
4    orange
5    banana
6     apple
7    orange
8    banana
dtype: object

In [8]:
values.unique()

array(['apple', 'orange', 'banana'], dtype=object)

In [9]:
values.value_counts()

apple     3
orange    3
banana    3
dtype: int64

In [13]:
df = pd.DataFrame(values, columns = ["fruits"])
df

   fruits
0   apple
1  orange
2  banana
3   apple
4  orange
5  banana
6   apple
7  orange
8  banana

In [23]:
f = df["fruits"].astype("category")
f = f.values

In [25]:
f

[apple, orange, banana, apple, orange, banana, apple, orange, banana]
Categories (3, object): [apple, banana, orange]

In [26]:
type(f)

pandas.core.categorical.Categorical

In [30]:
f.categories

Index(['apple', 'banana', 'orange'], dtype='object')

In [31]:
f.codes

array([0, 2, 1, 0, 2, 1, 0, 2, 1], dtype=int8)