# Data Loading, Storage, File Formats

## Reading and Writing Data

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("examples/ex1.csv")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [3]:
df = pd.read_table("examples/ex2.csv", sep = ",", header = None)
df

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [4]:
!cat examples/ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [5]:
pd.read_csv("examples/ex2.csv", names = ["one", "two", "theree", "four", "five"])

   one  two  theree  four   five
0    1    2       3     4  hello
1    5    6       7     8  world
2    9   10      11    12    foo

In [15]:
pd.read_csv("examples/ex2.csv", names = ["one", "two", "theree", "four", "five"], index_col = ["five"])

       one  two  theree  four
five
hello    1    2       3     4
world    5    6       7     8
foo      9   10      11    12

In [12]:
pd.read_csv("examples/csv_mindex.csv", index_col = ["key1", "key2"])

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [20]:
# using regular expressions for tables without fixed delimiter
pd.read_table("examples/ex3.txt", sep = "\s+")

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [21]:
# skip rows
pd.read_csv("examples/ex4.csv", skiprows = [0, 2, 3])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [23]:
# NaN values
df = pd.read_csv("examples/ex5.csv")
df

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [25]:
df.isnull()

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

## Reading Text Files in Pieces

In [30]:
df = pd.read_csv("examples/ex6.csv")
df.head()

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q

In [31]:
# read a few rows
pd.read_csv("examples/ex6.csv", nrows = 3)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G

## Writing Data Out to Text Format

In [37]:
df.to_csv("examples/output.csv")

In [38]:
df.to_csv("examples/output.txt", sep = "|")

## JSON Data

In [39]:
import json

In [40]:
obj = """
{"name": "Wes",
"places_lived": ["United States", "Spain", "Germany"],
"pet": null,
"siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
{"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

In [41]:
type(obj)

str

In [43]:
result = json.loads(obj)
result

{'name': 'Wes',
 'pet': None,
 'places_lived': ['United States', 'Spain', 'Germany'],
 'siblings': [{'age': 25, 'name': 'Scott', 'pet': 'Zuko'},
  {'age': 33, 'name': 'Katie', 'pet': 'Cisco'}]}

In [44]:
type(result)

dict

## Binary Data Formats
### pickle serialization
* To store data efficiently in binary format, use Python’s builtin **pickle** serialization
* pickle is only recommended as a short-term storage format

In [45]:
df = pd.read_csv("examples/ex1.csv")

In [47]:
df.to_pickle("examples/output_pickle")

In [49]:
pd.read_pickle("examples/output_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

## Excel Files

In [52]:
xls_file = pd.ExcelFile("examples/ex1.xlsx")
type(xls_file)

pandas.io.excel.ExcelFile

In [53]:
df = xls_file.parse("Sheet1")
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo